GuidelinesNatMethods
Outlines
ProjectFiles
log
out
*DS_Store
*.aux
*.out
*.synctex.gz
*.log
*.docx
*.fa
*.fasta
*.fq
*.fq*.gz
*.fastq
*.fastq*.gz
*.bam
*.cram
*.bai
*.fai
*.brickle
*.csv.gz
*.ct
*.db
*.idea
